<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
  {% if df | length != 0 %}
  <div class="table-container" style="overflow: auto;">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Content</th>
        <th scope="col">Source</th>
      </tr>
    </thead>

    <tbody>
    {% for index, row in df.iterrows() %}
      <tr>
        <th scope="row">{{ df.index.get_loc(index) + 1 }}</th>
        <td><a href=" {{ row['url'] }} ">{{ row['content'] }}</a></td>
        <td>{{ row['source'] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </div>
  {% endif %}

  <div class="form-container" style="overflow: auto;">
  <form class="form-inline" method="post">
    <div class="form-group mb-2" style="width: 30%">
      <label for="prompt" class="sr-only">请输入您想要查看的数据量</label>
      <input type="text" readonly class="form-control-plaintext" id="prompt" value="请输入您想要查看的数据量" style="width: 100%; text-align: right;">
    </div>
    <div class="form-group mx-sm-3 mb-2" style="width: 40%">
      <label for="rows" class="sr-only"></label>
      <input type="text" class="form-control" name="rows" placeholder="100以内的任意数字" style="width: 100%">
    </div>
    <button type="submit" class="btn btn-primary mb-2" id='confirm'>确定</button>
  </form>
  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>